<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="full">
    <ion-item>
      <ion-input required type="number" placeholder="Código" [(ngModel)]="estudiante.codigo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Documento" [(ngModel)]="estudiante.documento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Nombre" [(ngModel)]="estudiante.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Apellido" [(ngModel)]="estudiante.apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="email" placeholder="Correo" [(ngModel)]="estudiante.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="phone" placeholder="Teléfono" [(ngModel)]="estudiante.telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="phone" placeholder="Celular" [(ngModel)]="estudiante.celular"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="saveEstudiante()">Guardar</ion-button>
</ion-content>
