<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Documentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar autocomplete="on" placeholder="Buscar" (ionChange)="sharedItem(buscarTexto.value)" (ionClear)="reloadItem()"
    #buscarTexto></ion-searchbar>

  <ng-container *ngIf="!documentos || documentos.length == 0">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>

  <ion-list>
    <ion-item-sliding *ngFor='let item of documentos'>
      <ion-item button [routerLink]="['/dashboard','detalle-documento',item.id]">
        <ion-label>
          {{item.descripcion}}
          <p>{{item.codigo}}</p>
        </ion-label>
        <ion-note slot='end' color='primary'>{{item.fechaCreacion | date:'short'}}</ion-note>
      </ion-item>
      <ion-item-options side='end'>
        <ion-item-option (click)="remove(item)" color='danger'>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="edit(item)" color='tertiary'>
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/dashboard/detalle-documento" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>